* {
  box-sizing: border-box;
  font-family: 'Courier New', 'Courier, monospace';
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  /* align-self: center; */
  margin: 78px auto;
  min-height: 100vh;
}

.user-details-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  width: 80%;
  background-size: cover;
  border-radius: 13px;
  padding: 19px 23px;
  box-shadow: 0 0 4px #bcd5f8;
}

.greet-user {
  color: #475569;
  font-weight: 600;
}
.welcome-msg {
  color: #475569;
  font-weight: 600;
}
.welcome-title {
  color: #0b69ff;
  font-weight: 600;
}

@media (max-width: 767px) {
  .user-details-section {
    text-align: center;
    margin-bottom: 11px;
  }
  .greet-user {
    font-size: 21px;
  }
  .welcome-msg {
    font-size: 13px;
    font-weight: 600;
  }
  .welcome-title {
    font-size: 13px;
    font-weight: 600;
  }
}

.transactions-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 13px;
  align-self: center;
  width: 80%;
  padding: 11px 15px;
}
.transactions-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.form-style {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 13px;
  border: solid 1px #cbd5e1;
  padding: 31px;
  box-shadow: 0 0 2px #bcd5f8;
  width: 41%;
}

.label {
  font-size: 11px;
  font-weight: 600;
  color: #7e858e;
  margin-bottom: 2px;
  /* align-self: flex-start; */
}
.input {
  margin-bottom: 21px;
  width: 95%;
  height: 29px;
  outline: none;
  border: solid 1px #7e858e;
  border-radius: 4px;
  padding-left: 9px;
  font-family: 'Roboto';
}

.form-button {
  padding: 5px 9px;
  background-color: #0b69ff;
  color: #ffffff;
  align-self: flex-start;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 600;
}

.history-section {
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  border: solid 1px #cbd5e1;
  padding: 4px 31px;
  box-shadow: 0 0 2px #bcd5f8;
  width: 46%;
}

.history-title {
  color: #475569;
  margin-bottom: 5px;
  margin-top: 7px;
}

@media (max-width: 767px) {
  .transactions-section {
    width: 100%;
  }
  .transactions-container {
    flex-direction: column;
  }
  .form-style {
    width: 100%;
    margin-bottom: 13px;
  }
  .history-section {
    width: 100%;
    padding: 24px 9px;
  }
  .history-title {
    font-size: 13px;
  }
}

.history-items-list {
  margin-top: 0;
  border: solid 1.1px #7e858e;
  list-style-type: none;
  padding-left: 0;
}

.history-header-item {
  border: solid 1px #7e858e;
  display: flex;
  /* justify-content: ; */
  align-items: center;
  width: 100%;
  /* padding-right: 32px; */
}

.header-info {
  font-weight: 600;
  font-size: 13px;
  color: #1e293b;
  margin: 5px 14px;
}

@media (max-width: 767px) {
  .history-items-list {
    width: 90%;
  }
  .transaction-title {
    font-size: 17px;
  }
  .header-info {
    font-size: 9px;
    margin: 2px 15px;
  }
}
